body {
  background-color: #eac696;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Hide scrollbars */
}

.navbar {
  background-color: #d90631 !important;
}
#maincol {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#canvasbox {
  margin: 0 !important;
  padding: 0 !important;
  flex: 1; /* Make the canvasbox fill the remaining vertical space */
}

canvas {
  margin: 0;
  padding: 0;
}

#musicControls {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1000; /* Ensure it's above the canvas */
}

#toggleMusic {
    font-size: 14px;
    padding: 5px 10px;
}